@{
	ViewBag.Title = "Index";
}

<div id="panel" class="input-append">
	<input type="text" id="search" class="input-xxlarge" />
	<button id="searchButton" class="btn btn-large search"><i class="icon-search"></i></button>

</div>
<div id="map-canvas"></div>